body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #2b7cff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.7s;
}
@media (min-width: 769px) {
    button:hover {
      filter: drop-shadow(0 0 12px blue);
    }
/* 
    .result:hover {
        filter: drop-shadow(0 0 12px rgb(255, 123, 0));
      } */
  }

.result {
    display: none;

}
.report.result{
    display: block;
}



.recomendation {
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
    background: var(--level-color);
    color: white;
} 

#recomendation-text::after {
    content: var(--recomendation);
}

.model-description {
    margin-top: 8px;
    font-size: 13px;
    opacity: 0.8;
}

.risk-category {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;

}
.risk-category::after {
    content: var(--risk-category);
}

.risk-vallue {
    font-size: 16px;
}

#risk-vallue-number::before {
    content: var(--risk-vallue);
}


.result.risk-low {
    --level-color: #7fc025;
}
.result.risk-medium {
    --level-color: #f1c40f;
}
.result.risk-high {
    --level-color: #e67e22;
}
.result.risk-very-high {
    --level-color: #e74c3c;
}


.contact-wrapper {
    display: flex;
    width: 100%;
    margin-top: 20px;   /* Відступ від кнопки зверху */
    min-height: 80px;   /* Щоб висоти вистачило для іконки */
    align-items: center;
}

.on-list-text {
    font-size: 22px; 
    font-weight: bold; 
    color: var(--level-color); 
    text-align: center; 
    line-height: 1.2;
    padding-right: 80px; /* Місце, щоб текст не наповзав на серце */
}

/* .on-list-img {
} */

.img {
    width: 70px; 
    height: auto; 
    display: block; 
    border-radius: 50%;
}
.anwser-report{
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    transition: 0.7s;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 12px;
    padding: 12px;

}
.anwser-report:hover {
    filter: drop-shadow(0 0 12px  var(--level-color));
}


#telephone-number{
    font-size: 26px;
}
.score-cell{
    width: 20px;
    height: 20px;
    text-align: center;
}
.score-cell.no-risk {
    color: #ffffff;
    background-color: #009949;
}
.score-cell.very-small-risk {
    color: #000000;
    background-color: #74b943;
}
.score-cell.small-risk {
    color: #000000;
    background-color: #fff005;
}
.score-cell.medium-risk {
    color: #000000;
    background-color: #eb8b2c;
}
.score-cell.high-risk {
    color: #000000;
    background-color: #d9232a;
}
.score-cell.very-high-risk {
    color: #ffffff;
    background-color: #af2028;
}
.score-cell.danger-risk {
    color: #ffffff;
    background-color: #88191f;
}
.score-row{
    display: flex;
    flex-direction: row;
}
.score-box{
    margin-bottom: 10px;
    margin-right: 10px;
}
